/* 
    Created on : 19-oct-2016, 21:06:25
    Author     : Mike
*/

body{
    background-image: url('fondo.jpg'); background-size: cover; text-align: center;
}
input{
    height: 50px; width: 300px;
}
